<!-- Widget: user-card-->
<div class="card card-widget widget-user">

  <!-- widget-user-header -->
  <div id="user-bg-main" class="widget-user-header text-white"
    style="background: url('assets/dist/img/background.jpg') center center;">
    <h3 class="widget-user-username text-right"><a class="btn btn-outline-light">
        <span class="fas fa-edit"></span></a></h3>
    <h5 class="widget-user-desc text-right">Editar Perfil</h5>
  </div><!-- /.widget-user-header -->

  <!-- widget-user-image -->
  <div class="widget-user-image">
    <img id="user-avatar-main" class="img-circle" src="assets/dist/img/avatar.png" alt="User Avatar">
  </div><!-- /.widget-user-image -->

  <!-- card-footer -->
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <div class="description-block">
          <h5 id="user-church-main" class="description-header">Vida Para las Naciones</h5>
          <span id="user-name-main" class="description-text">Eduardo Gonzalez</span>
        </div><!-- /.description-block -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.card-footer -->


</div><!-- /.widget-user -->
