<!-- Control Sidebar -->
<aside id="control_bar" class="control-sidebar control-sidebar-dark p-4" style="overflow-y: scroll;">
  <!-- Control sidebar content goes here -->
  <h4><i class="fas fa-info-circle"></i> Información</h4>

  <hr>
  <h6>VPN - Mi Espacio</h6>
  <p>Versión activa: <span>1.1.0</span></p>
  <p>Fecha de compilación: <span>15/05/2021</span></p>

  <hr>
  <h6>Aviso Legal</h6>
  <p>Iglesia Cristiana Vida para las Naciones</p>
  <p>NIT:<span>xxx.xxx.xxx-x</span></p>
  <p>Domicilio:<span>Cl. 52 #46-65, Bello, Antioquia</span></p>
  <p>URL:<span><a href="http://vpn-miespacio.web.app">vpn-miespacio.web.app</a></span> </p>
  <p>Correo: <span>pastor@gmail.com</span></p>
  <p>Teléfono: <span>321 816-36-15</span></p>

  <hr>
  <h6>Tratamiento de datos personales</h6>
  <span class="text-sm">
    Desde el momento que usted accede a esta plataforma web será considerado como Usuario,
    lo que implica que conoce el contenido de este aviso legal y que acepta el tratamiento
    de sus datos personales de acuerdo a las condiciones de uso en él establecidas.
    El Usuario será el único responsable por las infracciones en que pueda incurrir, o
    perjuicios que pueda causar a terceros por el uso indebido de esta aplicación web.
    Según lo indicado en nuestras:
    <a target="_blank" style="color: #fff" href="./assets/dist/docs/Politicas de Privacidad.pdf">
      Políticas de Privacidad
    </a>
  </span>
</aside>
<!-- /.control-sidebar -->
